/* Устанавливает базовые параметры для html и body, убирает отступы */
html, body {
  margin: 0;
  padding: 0;
}
/* Основной контейнер приложения, выводится на весь экран */

.App {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

/* Сайдбар для списка записей */
.sidebar {
  width: 30%;
  background-color: #171717;
  border-right: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}
/* Кнопка для добавления новой записи */

.add-note-btn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #424242;
  color: white;
  border-radius: 4px;
  margin-bottom: 10px;
}
/* Поле поиска в списке записей */

.search-input {
  width: 96.5%;
  padding: 8px;
  font-size: 16px;
  margin-bottom: 10px;
  background-color: #2f2f2f;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/* Список записей */

.notes-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* Отдельная запись */

.note-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  background-color: #424242;
  color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: background-color 0.2s;
}
/* Активная запись */

.note-item.active {
  background-color: #525252;
  color: white;
}
/* Кнопка удаления записи */

.delete-btn {
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 12px;
}

/* Редактор для записей */
.note-editor {
  flex-grow: 1;
  padding: 20px;
  box-sizing: border-box;
  background-color: #424242;
}
/* Текстовая область для редактирования записи */

textarea {
  width: 100%;
  resize: none;
  padding: 10px;
  font-size: 16px;
  background-color: #2f2f2f;
  box-sizing: border-box;
}
/* Текст, отображаемый, если записи не выбраны */

.no-note-text {
  color: #999;
  font-size: 18px;
  text-align: center;
  margin-top: 20%;
}
